#page-home {
    height: 100vh;

    background: url('../../assets/home-background.svg') no-repeat 600px bottom;
}

#page-home .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

#page-home .content header {
    margin: 48px 0 0;
}

#page-home .content main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    max-width: 560px;
}

#page-home .content main h1 {
    font-size: 54px;

    color: var(--title-color);
}

#page-home .content main p {
    font-size: 24px;
    line-height: 38px;

    margin-top: 24px;
}

#page-home .content main a {
    display: flex;
    overflow: hidden;
    align-items: center;

    width: 100%;
    max-width: 360px;
    height: 72px;
    margin-top: 40px;

    text-decoration: none;

    border-radius: 8px;
    background: var(--primary-color);
}

#page-home .content main a span {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 72px;
    height: 72px;

    transition: background-color .2s;

    background: rgba(0, 0, 0, .08);
}

#page-home .content main a span svg {
    width: 20px;
    height: 20px;

    color: #fff;
}

#page-home .content main a strong {
    flex: 1;

    text-align: center;

    color: #fff;
}

#page-home .content main a:hover {
    background: #2fb86e;
}

@media(max-width: 900px) {
    #page-home .content {
        align-items: center;

        text-align: center;
    }

    #page-home .content header {
        margin: 48px auto 0;
    }

    #page-home .content main {
        align-items: center;
    }

    #page-home .content main h1 {
        font-size: 42px;
    }

    #page-home .content main p {
        font-size: 24px;
    }
}
